@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@300;700&display=swap");
@import "../icons/style.css";

:root {
  --oranje: #ff9b51;
  --zwart: #000;
  --wit: #fff;
  --donkergrijs: #333333;
  --lichtgrijs: #f5f5f5;
  --grijs: #ccc;
}
header {
  height: 100vh;
  background-image: url("../images/banner_background.jpg");
  background-size: cover;
  background-position: top center;
}

main {
  height: 103px;
  background-color: var(--wit);
}
.container {
  width: 75%;
  max-width: 1103px;
  margin: 0 auto;
  transition: all 300ms;
}
nav {
  height: 70px;
  background-color: var(--zwart);
  align-items: center;
  width: 100%;
  display: flex;
}
nav ul {
  display: flex;
}
nav ul li {
  color: var(--lichtgrijs);
  font-size: 14px;
  font-weight: 600;
  font-family: Open Sans, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 44px;
  align-items: center;
}
nav ul li:hover {
  color: var(--oranje);
}

nav ul li a .logo {
  margin-right: auto;
  display: block;
}
nav .container {
  display: flex;
  justify-content: space-between;
}

nav .container ul li a {
  margin-left: 23px;
}

section .left {
  display: flex;
  position: relative;
  width: calc(100% - 422px);
}
h3 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 44px;
  color: var(--wit);
  position: absolute;
  top: 266px;
}
header section .left p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  color: var(--lichtgrijs);
  position: absolute;
  top: 425px;
}

header section .right {
  display: flex;
  position: relative;
}
h4 {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--lichtgrijs);
  position: absolute;
  top: 228px;
  left: 840px;
  padding: 20px 200px 20px 50px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
main .container {
  margin-top: 30px;
  display: flex;
}
span {
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
main .container p {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
main ul {
  display: flex;
}
main ul li a {
  display: flex;
  display: block;
  text-align: center;
  color: var(--grijs);
  font-size: 44px;
  padding: 0, 32px;
}
main .container {
  display: flex;
  justify-content: space-between;
}
main .container ul li a {
  margin-left: 23px;
}
